{% extends '::simple_layout.html.twig' %}
{% block main %}
    <section>
        <article>
            <h1>Clientes</h1>
        </article>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>NIF</th>
                <th>Nombre</th>
                <th>Fecha de nacimiento</th>
                <th>Emails</th>
                <th>Teléfonos</th>
                <th>Dirección</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
            <tr>
                <td>
                    {% if customer.pathImage is not empty %}
                        <img src="{{ ("/media/" ~ customer.pathImage) | imagine_filter("my_thumb_list") }}" alt="{{ customer }}"/>
                    {% endif %}
                </td>
                <td>{{ customer.nif }}</td>
                <td>{{ customer }}</td>
                <td>{{ customer.dateOfBirth | date('d/m/Y') }}</td>
                <td>{{ customer.emails | arrayToString }}</td>
                <td>{{ customer.phones | arrayToString }}</td>
                <td>{{ customer.address }}</td>
                <td><a class="btn btn-primary" href="{{ path("edit_customer", {'customer': customer.id}) }}">Editar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}