{% extends '::simple_layout.html.twig' %}
{% block main %}
    <section>
        <article>
            <h1>{{ title }}</h1>
            <form action="" method="post" {{ form_enctype(customerForm) }}>
                {{ form_row(customerForm.nif) }}
                {{ form_row(customerForm.name) }}
                {{ form_row(customerForm.surname) }}
                {{ form_row(customerForm.dateOfBirth) }}

                <div class="form-group">
                    {{ form_label(customerForm.emails) }}
                    <a href="#" id="addEmail">+ Email</a>
                </div>
                <div id='list_emails' class="control_group col-md-12"
                     data-prototype="{{ form_widget(customerForm.emails.vars.prototype)| e }}">
                    {% for email in customerForm.emails %}

                        <div class="col-md-6 controls" id="{{ "email_" ~ loop.index0 }}">
                            <div class="col-md-10 controls">
                                {{ form_widget(email) }}
                            </div>
                            <div class="col-md-2 controls">
                                <a href="#" class="btn btn-danger"
                                   data-delete="{{ 'email_' ~ loop.index0 }}"> - Email
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 has-error">
                    {{ form_errors(customerForm.emails) }}
                </div>

                <div class="form-group">
                    {{ form_label(customerForm.phones) }}
                    <a href="#" id="addPhone">+ Teléfono</a>
                </div>

                <div id='list_phones' class="control_group col-md-12"
                     data-prototype="{{ form_widget(customerForm.phones.vars.prototype)| e }}">
                    {% for phone in customerForm.phones %}

                        <div class="col-md-5 controls" id="{{ "phone_" ~ loop.index0 }}">
                            <div class="col-md-10 controls">
                                {{ form_widget(phone) }}
                            </div>
                            <div class="col-md-2 controls">
                                <a href="#" class="btn btn-danger"
                                   data-delete="{{ 'phone_' ~ loop.index0 }}"> - Teléfono
                                </a>
                            </div>
                        </div>

                    {% endfor %}

                </div>
                {{ form_row(customerForm.address) }}
                {{ form_row(customerForm.fileImage) }}
                {% if (customer is defined) and (customer.pathImage is not empty) %}
                    <div class="form-group">
                        <img src="{{ ("/media/" ~ customer.pathImage) | imagine_filter("my_thumb") }}" alt="{{ customer }}"/>
                    </div>
                {% endif %}

                <input type="submit" value="Guardar" class="btn btn-primary"/>
                {{ form_row(customerForm._token) }}
            </form>
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var totalEmails = '{{ customerForm.emails | length }}';

        $("#list_emails").on('click', 'a[data-delete]', function (e) {
            var $delete = $('#' + $(this).attr('data-delete'));

            $delete.empty().remove();
            totalEmails--;

            e.preventDefault();
            return false;
        });
        $("#addEmail").on('click', function (e) {
            var $list = $('#list_emails');

            var $newWidget = $list.attr('data-prototype');
            var $divWidget = $('<div class="col-md-10 controls"></div>');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            $newWidget = $newWidget.replace(/__name__/g, totalEmails);
            $divWidget.append($newWidget);
            var $newDelete = $('<div class="col-md-2 controls"><a href="#" class="btn btn-danger" data-delete="email_' + totalEmails + '"> - Email </a></div>');

            // create a new list element and add it to the list
            var newLi = $('<div class="col-md-6 controls" id="email_' + totalEmails + '"></div>').append($divWidget, $newDelete);
            newLi.appendTo($list);

            totalEmails++;

            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}